.Input {
  display: flex;
  font-size: 24px;
  label {
    display: flex;
    align-items: center;
    height: 2em;
    padding: 0 0.5em;
    color: #eee;
    background-color: #677;
    font-weight: 700;
    border-radius: 0.5em 0 0 0.5em;
    vertical-align: top;
  }
  & div {
    border-radius: 0 0.5em 0.5em 0;
    font-size: inherit;
    &.ant-select:not(.ant-select-customize-input) {
      & div {
        height: 2em;
      }
      & .ant-select-selector {
        // Override antd styling specificity
        width: calc(24vw + 120px);
        max-width: 420px;
        font-size: inherit;
        border-radius: 0 0.5em 0.5em 0;
        & input {
          height: 2em;
        }
      }
    }
  }
}
