.Detail {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  & span:hover {
    cursor: pointer;
  }
  .Input {
    margin: 0;
    .ant-input-number,
    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
      width: 10rem;
      background-color: #f3efed;
    }
  }
}
