.FoodLog {
  display: inline-block;
  width: 100%;
  padding: 3rem;
  h2 {
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 5rem;
  }
}

.FoodLog__inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.nutrient-display {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  .nutrient-display__inputs {
    display: flex;
    flex-direction: column;
    .Input {
      font-size: 1.2rem;
    }
  }
}

@media screen and (max-width: 720px) {
  .nutrient-display {
    flex-direction: column-reverse;
    gap: 1rem;
  }
}
