.NavBar {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-radius: 3rem;
  & > * {
    height: 5rem;
  }
  & img {
    height: 100%;
  }
  & > li {
    font-size: 1.1rem;
  }
}

.ant-menu-item-group {
  overflow-x: auto;
  & > .ant-menu-item-group-title {
    padding: 0 1rem;
  }
  & > .ant-menu-item-group-list {
    display: flex;
    & .ant-menu-title-content {
      font-size: 1.2rem;
      vertical-align: -webkit-baseline-middle;
      font-weight: 700;
    }
  }
}
