.NutrientDisplay {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 10.5rem;
  max-width: 15rem;
  font-size: 1rem;
  padding: 1em;
  border: 1px solid #a7a49f;
  border-radius: 2em;
  background-color: #f3efed;
  h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
